html {
	position:relative;
	height:100%;
}
body{
	margin:30px auto;
	position:fixed;
	min-height:400px;
	min-width:500px;
	width:100%;
	height:100%;
	font-family:georgia, sans-serif;
	background-color:#777777;
}
#background {
	position:relative;
	background-image:url("https://farm4.staticflickr.com/3434/3788072104_9b6d00e1e1_b.jpg");
	background-repeat:no-repeat;
	background-size:1517px;
	background-position:center;
	border-top:4px solid red;
	border-bottom:4px solid red;
}
#container {
	position:relative;
	margin:0 auto;
	text-align:center;
	width:600px;
	height:580px;
	background: linear-gradient(to bottom, white, rgba(192,192,192,0.8));
	background: -moz-linear-gradient(to bottom, white, rgba(192,192,192,0.8));
	background: -webkit-linear-gradient(to bottom, white, rgba(192,192,192,0.8));
	background: -o-linear-gradient(to bottom, white, rgba(192,192,192,0.8));
	background: -ms-linear-gradient(to bottom, white, rgba(192,192,192,0.8));
	box-shadow:5px 5px 10px;

}
header {
	font-size:40px;
	color:rgba(0,0,102,0.9);
	font-family: Impact,sans-serif;
	padding-top:20px;
}

/*area for list items*/
.main{
	border-radius:5px;
	margin:20px auto;
	text-align:center;
}

/*area for item input area*/
.inputSection{ 
	width:400px;
	position:relative;
	display:inline-block;
	border: 1px solid grey;
	border-radius:5px;
	padding:1px;
}
#newItem { 
	width:329px;
	height:29px;
	margin:0;
	padding:0;
	float:left;
	border:none;
}
#addButton { 
	width:70px;
	height:29px;
	float:right;
	margin:0;
	padding:0;
	border:none;
}
/*area for added list items */
.listSection {
	text-align: left;
	padding-top:20px;
}
ul { 
	overflow:auto;
	height:300px;
	width:400px;
	margin:0 auto;
	list-style-type: none;
	padding:0;
}


.indItem { /* Individial Items */
	text-align:left;
	font-size:20px;
	font-family:cursive;
}

.remove, .edit {
	width:20px;
	height:20px;
	display:none;
	float:right;
	background-repeat:no-repeat; background-size:20px 20px;
}
.remove {
	background-image:url("images/remove.png");
	padding-left:10px;
}
/*.edit {
	background-image:url("images/edit.png");
	padding-right:10px;
}
*/
/*classes for jquery*/
.crossedOff {
	text-decoration: line-through;
}
.indItem:hover{
	color:red;
	cursor:pointer;
}
input:focus{
	outline-width:0;
}
.inputSection:focus {
	border:2px solid black;
}
button:hover {
	background-color:rgba(0,102,204, 0.5);
	color:white;
}
